<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="terms-of-use">
            <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern <a ui-sref="welcome">storiesforkids.in</a>'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.
            </p>
            <p>The term '<a ui-sref="welcome">storiesforkids.in</a>' or 'us' or 'we' refers to the owner of the website<!-- whose registered office is [address]. Our company registration number is [company registration number and place of registration]-->. The term 'you' refers to the user or viewer of our website.
            </p>
            <div class="sub-header">The use of this website is subject to the following terms of use:
            </div>
            <p>
                <ul>
                    <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.
                    </li>
                    <li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: Name, Email-address, time and date when you visited this site.
                    </li>
                    <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.
                    </li>
                    <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.
                    </li>
                    <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.
                    </li>
                    <li>All trade marks reproduced in this website which are not the property of, or licensed to, the operator are acknowledged on the website.
                    </li>
                    <li>Unauthorised use of this website may give rise to a claim for damages and/or be a criminal offence.
                    </li>
                    <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).
                    </li>
                </ul>
            </p>
            <div class="boring-header">Changes to this Agreement</div>
            <p>We reserve the right to modify these Terms of Service at any time. We do so by posting and drawing attention to the updated terms on the Site. Your decision to continue to visit and make use of the Site after such changes have been made constitutes your formal acceptance of the new Terms of Service.Therefore, we ask that you check and review this Agreement for such changes on an occasional basis. Should you not agree to any provision of this Agreement or any changes we make to this Agreement, we ask and advise that you do not use or continue to access the Your Nowhere Town site immediately.</p>
            <div class="boring-header">Contact Us</div>
            <p>If you have any questions about this Agreement, please feel free to contact us at support@storiesforkids.in.</p>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs"></div>
</div>