.header{
    padding:1em 1.3em;
    color:white;
    background-color:#262626;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Slabo;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(130,126,130,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(130,126,130,1);
    box-shadow: 0px 3px 5px 0px rgba(130,126,130,1);
}
.header-title {
    font-size: 40px;
    box-sizing: border-box;
    padding-top: 0.2em;
}
.header-nav{

    text-align: right;
}
.headerSearch .headerSearchAnchor, 
.headerLogin a.headerAnchor{
    text-decoration: none;
    color: white;
}
.headerSearch .headerSearchAnchor:hover, 
.headerLogin .headerAnchor:hover,
.headerUserAnchor{
    color:orange;
    cursor: pointer;
    transition: all 0.15s ease;
}
.header-search-results{
    padding: 1em;
    box-sizing: border-box;
    height:15em;
    width:20em;
    z-index:2;
    position:absolute;
    background-color:white;
    top: 4em;
    right: 3em;
    border-radius: 0em 0em 0.4em 0.4em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.header-search-results input[type=text]{
    width: 100%;
    padding: 0.5em 1em;
    color: black;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    top: -0.6em;
    position: absolute;
    right: 1em;
}
.user-info-circle {
    background: cadetblue;
    border-radius: 50%;
    height: 3em;
    display: table-cell;
    width: 3em;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 1em;
    margin: 0 auto;
    font-weight: bold;
    vertical-align: middle;
    cursor: pointer;
    transition: background 0.15s ease;
}
.user-info-circle:hover {
    background: chocolate;
    
}