<!--login form starts-->
<form name="loginForm" style="font-size:1.2em;text-align:left;"> 
    <div class="form-group">
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="text" placeholder="Email address" ng-model="$ctrl.userLoginInput.email" ng-minlength="4" ng-maxlength="60">
        </div>
    </div>
    <div class="form-group"> 
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="password" placeholder="Password" ng-model="$ctrl.userLoginInput.trickyWord">
        </div>
    </div> 
    <button class="login-button" ng-click="$ctrl.userLogin()">{{$ctrl.LOGIN_TEXT}}&nbsp;
        <i class="fa fa-sign-in" aria-hidden="true" ng-show="$ctrl.showSignIn"></i>
        <i class="fa fa-spin fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="$ctrl.showSigningIn"></i>
        <i class="fa fa-check leftMar1" aria-hidden="true" ng-show="$ctrl.showSignedIn"></i>
    </button> 
    <div ng-show="$ctrl.loginError && !$ctrl.loginForm.$valid" class="label label-danger"> 
        <b>Error With Login.</b> Please try again. 
    </div>
</form> 
<!--login form ends-->