.story {
    font-family: 'Slabo';
    font-size: 1.1em;
    text-indent: 2.2em;
    padding: 1.2em 1.5em 1em 1.2em;
    line-height: 1.4em;
    margin-bottom: 1em;
}
.story:first-child:first-letter {
    font-size: 2em;
}
div.story p {
    text-align: justify;
    margin-bottom: 1.2em;
}
.loadingDiv{
    text-align: center;
    min-height: 15em;
}
.loadingDiv .fa-pulse{
    margin-top: 2em;
}