.story {
    font-family: 'Slabo';
    font-size: 1.1em;
    text-indent: 2.2em;
    padding: 1.2em 1.5em 1em 1.2em;
    line-height: 1.4em;
    margin-bottom: 1em;
    /* css rule to disable text selection highlighting */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.story:first-child:first-letter {
    font-size: 2em;
}
div.story p {
    text-align: justify;
    margin-bottom: 1.2em;
}
.loadingDiv{
    text-align: center;
    min-height: 15em;
}
.loadingDiv .fa-pulse{
    margin-top: 2em;
}



/* for mobile devices*/
@media screen and (max-width: 768px){
    .story {
        padding: 1.2em 0em 1em 0em;
    }
}
/* for tabs*/
@media screen and (min-width: 769px) and (max-width: 992px){
    .story {
        padding: 1.2em 1em 1em 1em;
    }
}

/* for large screens*/
@media screen and (min-width: 1200px){
    .story {

    }
}