<!--register form starts-->
<form name="regForm" style="font-size:1.2em;text-align:left;" novalidate>
    <div style="height:1.2em;display:block;overflow:hidden;">
        <div ng-show="regForm.email.$dirty && regForm.email.$error.email" class="input-invalid-signup">
            Please enter a valid email</div>
        <div ng-show="regForm.email.$dirty && regForm.email.$error.required" class="input-invalid-signup">
            Email is required</div>
        <div ng-show="regForm.username.$dirty && regForm.username.$error.minlength" class="input-invalid-signup">
            Name must be minimum 4 characters</div>
        <div ng-show="regForm.username.$dirty && regForm.username.$error.maxlength" class="input-invalid-signup">
            Name should not be more than 25 characters</div>
        <div ng-show="regForm.username.$dirty && regForm.username.$error.pattern" class="input-invalid-signup">
            No special Characters allowed</div>
        <div ng-show="regForm.username.$dirty && regForm.username.$error.required" class="input-invalid-signup">
            Name is required</div>
        <div ng-show="regForm.password.$dirty && regForm.password.$error.required" class="input-invalid-signup">
            Password is required</div>
        <div ng-show="regForm.password.$dirty && regForm.password.$error.minlength" class="input-invalid-signup">
            Name must be minimum 6 characters</div>
        <div ng-show="$ctrl.showSignUpErr"> 
            <b>Error With Login.</b> Please try again. 
        </div>
        <div ng-show="$ctrl.isUserAvailable" style="color:green;">
            You can signup with this Email</div>
        <div ng-show="$ctrl.isUserNotAvailable" class="input-invalid-signup">
            This Email is already registered with us.</div>
    </div>
    <div class="form-group"> 
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" name="email" type="email" placeholder="Email address" ng-model="$ctrl.signupData.email" required ng-blur="$ctrl.isUserUnique()">
        </div>
    </div> 
    <div class="form-group"> 
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="text" name="username" placeholder="Your Full Name" ng-model="$ctrl.signupData.username" required ng-minlength="4" ng-pattern="/^[a-zA-Z0-9 ]*$/" ng-maxlength="25"/>
        </div>
    </div>
    <div class="form-group"> 
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" name="password" type="password" ng-minlength="6" placeholder="Password" ng-model="$ctrl.signupData.password" required>
        </div>
    </div> 
    <button class="login-button" ng-click="$ctrl.createUser()" ng-disabled="!regForm.$valid" ng-style="{'cursor':!regForm.$valid ? 'not-allowed':'pointer'}">Sign Up&nbsp;
        <i class="fa fa-sign-in" aria-hidden="true" ng-show="$ctrl.showSignIn"></i>
        <i class="fa fa-spin fa-spinner fa-pulse fa-fw" aria-hidden="true" ng-show="$ctrl.showSigningIn"></i>
        <i class="fa fa-check leftMar1" aria-hidden="true" ng-show="$ctrl.showSignedIn"></i>
        <i class="fa fa-times leftMar1" aria-hidden="true" ng-show="$ctrl.showSignUpErr" style="color:red;"></i>
    </button>
</form> 
<!--register form ends-->