<!--login form starts-->
<form name="loginForm" style="font-size:1.2em;text-align:left;"> 
    <div class="form-group"> 
        <div class="input-group margin-bottom-sm">
          <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="text" placeholder="Email address" ng-model="userlogin.email">
        </div>
        <!--
        <label for="username">Username</label> 
        <input type="text" name="username" ng-model="username" required="required" class="form-control"/> 
        -->
    </div> 
    <div class="form-group"> 
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
          <input class="form-control" type="password" placeholder="Password" ng-model="userlogin.trickyWord">
        </div>
        <!--
        <label for="password">Password</label> 
        <input type="password" name="password" ng-model="password" required="required" class="form-control"/> 
        -->
    </div> 
    <button class="login-button" ng-click="userLogin()">Login&nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></button> 
    <div ng-show="loginError && !loginForm.$valid" class="label label-danger"> 
        <b>Error With Login.</b> Please try again. 
    </div>
</form> 
<!--login form ends-->