.loginOR{
    border: 1px solid chocolate;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 0.4em;
    margin: -1em 1em 1em 1em;
    background-color: chocolate;
    color: white;
    text-align: center;
}
.loginBoxClose{
    color: darkgray;
}
.loginBoxClose:hover{
    color: darkcyan;
}
.light-box-body{
    font-family: Slabo;
    background-color:white;
    padding:1.5em 2em;
    margin: 15% auto;
    border-radius: 0.5em;
    transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
}
.login-button {
  padding: 0.3em 0.7em;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3498DB;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 5px #2980B9;
    margin-left: 0.3em;
}

.login-button:hover {
    background-color: #52a7e0;
}

.login-button:active {
  background-color: #52a7e0;
  box-shadow: 0 2px #2980B9;
  transform: translateY(3px);
}
.login-or-signup {
    text-align: center;
}
.login-or-signup-tag {
    padding-bottom:1em;
    font-size:1.2em;
    font-family:Slabo;
    color:darkgray;
    text-align: center;
}