<div style="position:fixed;z-index:99;top:0;left:0;display:block;overflow:hidden;height:100%;width:100%;color:black;background-color:rgba(0,0,0,0.8);">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
        <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 light-box-body">
            <!--temp fix for route authenticatin start -->
            <span ng-if="$ctrl.routerState.current.name != 'welcome'">
                <div style="float:left;" class="loginBoxClose">
                    <i class="fa fa-home fa-2x" ng-click="$ctrl.routerState.go('welcome')"></i>
                </div>
            </span>
            <!--temp fix for route authenticatin end -->
            <div style="text-align:right;" ng-click="$ctrl.close()">
                <i class="loginBoxClose fa fa-times-circle fa-2x" aria-hidden="true"></i>
            </div>
            <div class="login-or-signup">
                <span style="font-size:2.2em;color:darkcyan;cursor:pointer;" ng-click="$ctrl.openLoginForm()" ng-style="$ctrl.loginStyle">Login</span>
                <span class="loginOR">or</span>
                <span style="font-size:2.2em;color:darkgray;cursor:pointer;" ng-click="$ctrl.openRegisterForm()" ng-style="$ctrl.regStyle">Signup</span>
            </div>
            <div ng-show="$ctrl.loginForm">
                <div class="login-or-signup-tag">New User ? Click Singup to register.</div>
                <sign-in-page></sign-in-page>
            </div>
            <div ng-show="$ctrl.registerForm">
                <div class="login-or-signup-tag">Already registered ? Click Login.</div>
                <sign-up-page ng-show="$ctrl.registerForm"></sign-up-page>
            </div>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-2 hidden-xs"></div>
    </div>
</div>