.story-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 1em;
    margin-top: 1.5em;
    display: inline-block;
    width: 80%;
    position: relative;
    text-align: center;
}
.story-box:hover{
    box-shadow: 0px 0px 25px #000000;
    z-index: 2;
    cursor: pointer;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.01);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.01);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.01);
    transition: all 200ms ease-in;
    transform: scale(1.01);
}
.welcome-message{
    font-size:2.1em;
    text-align: center;
    font-family: Slabo;
    margin: 1.5em 0 0.5em 0;
}
.single-tile-welcome{
    font-family: Slabo;
    text-align: center;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {transform: scale(0);}
    100%   {transform: scale(1.0);}
}

/* Standard syntax */
@keyframes example {
    0%   {transform: scale(0);}
    100%   {transform: scale(1.0);}
}
.tile-story-title{
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
}
.tile-story-desc{
    font-family: Slabo;
    font-size:1em;
    text-align: justify;
    margin-bottom: 1em;
    line-height: 1.3em;
}
.tile-story-fig {
    display: block;
    min-height: 15em;
}
.tile-story-fig img{
    height: 100%;
    width: 100%;
}
.welcome-loading{
    font-family: Slabo;
    font-size: 1em;
    margin-top:3em;
}

@media screen and (max-width: 768px){
    .welcome-message {
        font-size: 1.6em;
        padding: 0 1.2em;
    }
}
/* for tabs*/
@media screen and (min-width: 769px) and (max-width: 992px){
    .welcome-message {
        font-size: 1.8em;
    }
}

/* for large screens*/
@media screen and (min-width: 1200px){
    .welcome-message {
        font-size:2.3em;
    }
}