<!-- folowing style is required -->
<div style="dash-body row">
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-12" >
        <div class="dash-container">
            Hi there ! Select your favorite story to start reading.<br><br>
            Select a Category :
            <select class="category-select" ng-change="$ctrl.changeCategory()" ng-model="$ctrl.categorySelected">
                <option value="CG001">Panchatantra Stories</option>
                <option value="CG004">Akbar and Birbal Tales</option>
            </select>
            <br><br>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div ng-repeat="(k,v) in $ctrl.storyData.story_list">
                    <div class="story-part-title" ng-if="k.length>0">Part {{$index+1}}</div>
                    <div ng-repeat="(a,b) in v">
                        <div ng-click="$ctrl.openStory(b)" class="story-line-item">
                            <div class="story-list-name">
                                {{b.story_name}}
                            </div>
                            <!--<div style="width:10%;">
                                asdf
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                iamge
            </div>
        </div>
    </div>
</div>