<!-- folowing style is required -->
<div style="dash-body row">
    <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs"></div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" >
        <div class="dash-container">
            Hi there ! Select your favorite story to start reading.<br><br>
            Select a Category :
            <select class="category-select" ng-change="$ctrl.changeCategory()" ng-model="$ctrl.categorySelected">
                <option ng-repeat="ctgry in $ctrl.dash.categoryList" value="{{ctgry.categoryId}}">
                    {{ctgry.categoryName}}
                </option>
            </select>
            <br><br>
            <div>
                <div ng-repeat="(k,v) in $ctrl.dash.storyData.story_list">
                    <div class="story-part-title" ng-if="k.length>0">Part {{$index+1}}</div>
                    <div ng-repeat="(a,b) in v">
                        <div ng-click="$ctrl.openStory(b)" class="story-line-item">
                            <div class="story-list-name">
                                {{$index + 1}}.&nbsp;&nbsp;{{b.story_name}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="dash-story-fig">
            <img ng-src="{{$ctrl.dash.categoryData.categoryImgLoc}}" />
        </div>
        <div class="dash-story-desc">{{$ctrl.dash.categoryData.categoryDesc}}</div>
    </div>
</div>