.dash-body {
    font-family:Slabo;display:inline-block;width:100%
}
.right-panel-item {
    height: 9em;
    min-height: 6em;
    font-size: 0.6em;
    color: gray;
    vertical-align: middle;
    text-align: center;
    padding: 1em 0 0 0;
    background: white;
    margin: 0.9em 0 1.8em 0;
    display: block;
    box-shadow: 1px 1px 3px gray;
}
.dash-container {
    padding: 1em 0 0 1em;
    margin: 2em auto;
    font-family: 'Courgette'
    /*background: white;
    box-shadow: 1px 1px 3px gray;*/
}
@media screen and (max-width: 768px){
    .dash-container {
        padding: 1em 1em 0 1em;
    }
    .story-list{
        padding:0 1em;
        margin-top: 1em;
    }
    .dash-story-desc {
        padding-top: 1em;
    }
    .category-select {
        margin-top: 1em;
    }
}

.category-select {
    border: yellowgreen;
    padding: 0.4em 1em;
}
.category-select option {
    border: yellowgreen;
    padding: 0.4em 1em;
}
.story-line-item {
    display: block;
    padding: 0.6em;
    transition: all 0.2s ease-in;
}
.story-line-item:hover {
    background: yellowgreen;
    color: black;
    cursor: pointer;
}
.story-part-title {
    border-bottom: 1px dotted yellowgreen;
    padding: 0.5em 0;
    margin: 0.5em 0;
}
.story-list-name{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.dash-story-desc {
    font-family: 'Slabo';
    line-height: 1.2em;
    font-size: 1.1em;
    text-align: justify;
}
.dash-story-fig {
    
}
.dash-story-fig img{
    height: 100%;
    width: 100%;
}

/*Menu Bar styling*/
.menu{
    text-align:left;
    background:yellowgreen;
    color:#1b242d;
    font-weight: bold;
    font-family: 'Slabo';
}
.menu ul{
    padding-left: 2em;
    margin:0;
}
.menu ul li {
    text-align: center;
    padding:1em;
    display:inline-block;
    transition: 0.2s ease;

}
.menu ul li:hover {
    display:inline-block;
    color:crimson;
    background:white;
}
.inset-text {
    /* Shadows are visible under slightly transparent text color */
    color: rgba(10,60,150, 0.8);
    text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
    font-size: 1.5em;
    display: block;
    padding-top: 2em;
}