.dash-body {
    font-family:Slabo;display:inline-block;width:100%
}
.right-panel-item {
    height: 9em;
    min-height: 6em;
    font-size: 0.6em;
    color: gray;
    vertical-align: middle;
    text-align: center;
    padding: 1em 0 0 0;
    background: white;
    margin: 0.9em 0 1.8em 0;
    display: block;
    box-shadow: 1px 1px 3px gray;
}
.dash-container {
    padding: 1em 0;
    margin: 2em auto;
    font-family: 'Courgette'
    /*background: white;
    box-shadow: 1px 1px 3px gray;*/
}
.category-select {
    border: yellowgreen;
    padding: 0.4em 1em;
}
.category-select option {
    border: yellowgreen;
    padding: 0.4em 1em;
}
.story-line-item {
    display: block;
    padding: 0.6em;
    transition: all 0.2s ease-in;
}
.story-line-item:hover {
    background: crimson;
    color: white;
    cursor: pointer;
}
.story-part-title {
    border-bottom: 1px dotted crimson;
    padding: 0.5em 0;
    margin: 0.5em 0;
}
.story-list-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dash-story-desc {
    font-family: 'Slabo';
    line-height: 1.2em;
    font-size: 1.1em;
    text-align: justify;
}
.dash-story-fig {
    
}
.dash-story-fig img{
    height: 100%;
    width: 100%;
}

/*Menu Bar styling*/
.menu{
    text-align:left;
    background:yellowgreen;
    color:#1b242d;
    font-weight: bold;
    font-family: 'Slabo';
}
.menu ul{
    padding-left: 1em;
    margin:0;
}
.menu ul li {
    text-align: center;
    padding:1em;
    display:inline-block;
    transition: 0.2s ease;

}
.menu ul li:hover {
    display:inline-block;
    color:crimson;
    background:white;
}