<div class="reader-pane">
    <div class="reader-controls">
        <div class="reader-story-title">
            Title : {{$ctrl.config.story_name}}
        </div>
        <div  class="reader-story-controls">
            <span class="night-mode-control">
                Night Mode :
                <div ng-class="{'mode-on':asdf,'mode-off':!asdf}" ng-click="asdf=false">   
                    <i class="fa fa-toggle-on" aria-hidden="true" ></i>
                </div>
                <div ng-class="{'mode-on':!asdf,'mode-off':asdf}" ng-click="asdf=true">
                   <i class="fa fa-toggle-off" aria-hidden="true" ></i>
                </div>
            </span>
            <span>Love it&nbsp;<i class="fa fa-heart-o" aria-hidden="true" style="color:crimson;"></i></span>
            <span>Read Later&nbsp;<i class="fa fa-bookmark-o" aria-hidden="true" style="color:blue;"></i></span>
        </div>
    </div>
    <div ng-class="{'nightMode':asdf,'dayMode':!asdf}">
      <story-component config="$ctrl.config"></story-component>
    </div>
</div>
