.reader-pane {
    padding: 2em;
    display:block;
    font-family: 'Courgette';
    font-size: 1.1em;
}
.reader-story-title {
    display: inline-block;
    /*width:100%;*/
    margin-bottom: 1em;
    font-size: 1.2em;
    border-bottom: 5px solid #2ECC71;
    padding-bottom: 0.5em;
}/*
.reader-story-title:after {
    content: '';
    height: 3px;
    background: crimson;
}*/
.reader-story-controls {
    width: 100%;
    text-align: right;
    padding-right:1.5em;
    margin-bottom: 0.2em;
}
.reader-story-controls span {
    margin-left: 1.8em;
}
.night-mode-control{
    width:30%;
}
.dayMode{
  color:black;
  transition:background-color 0.15s ease-in;
}
.nightMode{
  background-color:#1B242D;
  color:ghostwhite;
  transition:background-color 0.2s ease-in;
}
.mode-on{
  display:inline-block;
}
.mode-off{
  display:none;
}
.reader-go-back {
    text-align:left;float:left;margin-left:0 !important;
    transition: all 0.15s ease-in;
}
.reader-go-back:hover {
    color: #2ECC71;
    cursor: pointer;
}

/* for mobile devices*/
@media screen and (max-width: 768px){
    .reader-pane {
        padding: 2em 2em 1em 2em;
        font-size: 1em;
    }
}
/* for tabs*/
@media screen and (min-width: 769px) and (max-width: 992px){
    .reader-pane {
        padding: 2em 0 1em 1em;
        font-size: 1.1em;
    }
}

/* for large screens*/
@media screen and (min-width: 1200px){
    .reader-pane {
        padding: 2em;
        font-size: 1.4em;
    }
}