.reader-pane {
    padding: 2em 0 0 2em;
    display:block;
    width:100%;
    font-family: 'Courgette';
    font-size: 1.2em;
}
.reader-story-title {
    display: inline-block;
    width:100%;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.reader-story-controls {
    width: 100%;
    text-align: right;
    padding-right:1.5em;
    margin-bottom: 0.2em;
}
.reader-story-controls span {
    margin-left: 1.8em;
}
.night-mode-control{
    width:30%;
}
.dayMode{
  color:black;
  transition:background-color 0.15s ease-in;
}
.nightMode{
  background-color:#1B242D;
  color:ghostwhite;
  transition:background-color 0.2s ease-in;
}
.mode-on{
  display:inline-block;
}
.mode-off{
  display:none;
}
.reader-go-back {
    text-align:left;float:left;margin-left:0 !important;
    transition: all 0.15s ease-in;
}
.reader-go-back:hover {
    color: crimson;
    cursor: pointer;
}