<div class="row">
    <div class="reader-pane col-lg-9 col-md-9 col-sm-10 col-xs-12" ng-class="{'nightMode':asdf,'dayMode':!asdf}">
        <div class="reader-controls">
            <div class="reader-story-title" title="You are reading {{$ctrl.config.story_name}}">
                Title : {{$ctrl.config.story_name}}
            </div>
            <div class="reader-story-controls">
                <span class="reader-go-back" ng-click="$ctrl.goBackToDash()" title="Go back to List of stories in this category">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Go Back</span>
                <span class="night-mode-control">
                    Night Mode :
                    <div ng-class="{'mode-on':asdf,'mode-off':!asdf}" ng-click="asdf=false" title="Turn off night mode if your eyes are comfortable with a white background">
                        <i class="fa fa-toggle-on" aria-hidden="true" ></i>
                    </div>
                    <div ng-class="{'mode-on':!asdf,'mode-off':asdf}" ng-click="asdf=true" title="Turn on night mode to read without straining your eyes">
                       <i class="fa fa-toggle-off" aria-hidden="true" ></i>
                    </div>
                </span>
                <!--
                <span>Love it&nbsp;<i class="fa fa-heart-o" aria-hidden="true" style="color:crimson;"></i></span>
                <span>Read Later&nbsp;<i class="fa fa-bookmark-o" aria-hidden="true" style="color:blue;"></i></span>
    -->
            </div>
            <div>
                <div class="loadingDiv" ng-show="$ctrl.showLoadingDiv">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i><br><br>
                    <span class="">Loading your story...</span>
                </div>
              <story-component config="$ctrl.config"></story-component>
            </div>
            <span class="reader-go-back" ng-click="$ctrl.goBackToDash()" title="Go back to List of stories in this category">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Go Back</span>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-2 hidden-xs">
        <!--<right-panel></right-panel>-->
    </div>
</div>