@font-face {
    font-family: Slabo;
    src: url(fonts/Slabo_27px/Slabo27px-Regular.ttf);
}
body{
    font-family: Slabo;
    background-color: #f2f2f2;
}

.footer{
    margin-top: 5em;
    padding:2em;
    color:white;
    background-color:#262626;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Slabo;
}
.footer .row div:first{
    padding-left: 2em;
}
.welcome-message{
    font-size:2.3em;
    text-align: center;
    font-family: Slabo;
    margin: 1.5em 0 0.5em 0;
}

.single-tile-welcome{
    font-family: Slabo;
    text-align: center;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {transform: scale(0);}
    100%   {transform: scale(1.0);}
}

/* Standard syntax */
@keyframes example {
    0%   {transform: scale(0);}
    100%   {transform: scale(1.0);}
}


.totop{
  position:fixed;
  bottom:10px;
  right:10px;
  display:none;
}

.story-box{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    padding: 1em;
    margin-top: 1.5em;
    display: inline-block;
    width: 80%;
    position: relative;
    text-align: center;
}
.story-box:hover
{
    box-shadow: 0px 0px 25px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.01);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.01);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.01);
    transition: all 200ms ease-in;
    transform: scale(1.01);
}

.emailFooterInput{
    width:12em;
    color:black;
    padding:0.4em 0.5em;
    margin-top:1em;
    border-radius:0.5em;
}
.emailFooterInput:focus{
    outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.tile-story-title{
    font-size: 1.5em;
    margin: 0.5em 0 0.5em 0;
}
.tile-story-desc{
    font-family: Slabo;
    font-size:1em;
    text-align: justify;
}
.tile-story-fig img{
    height: 100%;
    width: 100%;
}
.leftMar1{
    margin-left: 0.3em;
}
.button {
  padding: 0.3em 0.6em;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3498DB;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 5px #2980B9;
    margin-left: 0.3em;
}

.button:hover {
    background-color: #52a7e0;
}

.button:active {
  background-color: #52a7e0;
  box-shadow: 0 2px #2980B9;
  transform: translateY(3px);
}
.boringStuff{
    text-align: right;
    padding-right: 3em;
}
@media screen and (max-width: 768px){
    .boringStuff{
    text-align: left;
    padding-right: 3em;
}
}