@font-face {
    font-family: Slabo;
    src: url(fonts/Slabo_27px/Slabo27px-Regular.ttf);
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Courgette/Courgette-Regular.ttf');
}
html, body{
    font-family: Slabo;
    background-color: #f2f2f2;
    overflow-x: hidden;
    height:100%;
}
.body-container{
    position: relative;
    margin: 0 auto;

    height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/

    min-height:100%; /* real browsers */
}



.totop{
  position:fixed;
  bottom:10px;
  right:10px;
  display:none;
}



.leftMar1{
    margin-left: 0.3em;
}
.button {
  padding: 0.3em 0.6em;
  font-size: 1.3em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3498DB;
  border: none;
  border-radius: 0.2em;
  box-shadow: 0 5px #2980B9;
    margin-left: 0.3em;
}

.button:hover {
    background-color: #52a7e0;
}

.button:active {
  background-color: #52a7e0;
  box-shadow: 0 2px #2980B9;
  transform: translateY(3px);
}
.input-invalid-signup{
    color: crimson;
    padding-bottom: 0.5em;
}
